<?xml version="1.0"?>
<config>
	
	<tabs>
		<adwise translate="label" module="adwise_dynamicremarketing">
			<label>Adwise Internetmarketing</label>
			<sort_order>10</sort_order>
		</adwise>
	</tabs>
	
	<sections>
		<dynamicremarketing translate="label" module="adwise_dynamicremarketing">
			<label>Google Dynamic Remarketing</label>
			<tab>adwise</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general>
					<label>General settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<copyright>
							<frontend_type>hidden</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
							<![CDATA[
		            		<center>
		            			<a style="text-decoration:none;font-weight:bold;" href="http://www.adwise.nl/" target="_blank">Adwise Internetmarketing</a>
		            			<p>Version: 1.0.0 <strong> - &copy; 2013</strong></p>
		            		</center>
			            	]]>
							</comment>
						</copyright>
						<enable translate="label comment">
							<label>Enable</label>
							<comment><![CDATA[Enable to activate Google Dynamic Remarketing]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable>
						<enable_advanced translate="label comment">
							<label>Enable advanced tagging</label>
							<comment><![CDATA[Read more about advanced tagging <a href="https://support.google.com/adwords/answer/3103357?hl=en">here</a>.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_advanced>
						<conversion_id translate="label comment">
							<label>Google Conversion ID</label>
							<comment><![CDATA[Obtain conversion ID from <a href="http://www.google.nl/ads/adwords/">Google Adwords</a>]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</conversion_id>
						<!--
						<js_remarketing_only translate="label">
							<label>Google remarketing only?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</js_remarketing_only>
						-->
						<attribute_key translate="label comment">
							<label>Product ID key</label>
							<comment><![CDATA[Must match the Product ID from the Google Merchant Center feed.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adwise_dynamicremarketing/system_config_source_attributes</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</attribute_key>
					</fields>
				</general>
			</groups>
		</dynamicremarketing>
	</sections>
	
</config>
